.popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #000;
    /*visibility: hidden;*/
    display: none;
}

.popup_opened {
    /*visibility: visible;*/
    display: flex;
}