.popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #000;
    display: none;
    z-index: 2;
    align-items: center;
    justify-content: center;
}