.element__like {
    margin: 5px 5px auto auto;
    padding: 0;
    width: 22px;
    height: 19px;
    box-sizing: border-box;
    object-fit: cover;
    background: none;
    border: none;
    background-image: url("../../../image/element-like.svg");
    outline: none;
}

.element__like:hover {
    opacity: 0.5;
}