.profile__add-btn {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-image: url("../../../image/profile-add-btn.png");
    background-position: center;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    margin: auto 0 auto auto;
}

.profile__add-btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 959px) {
    .profile__add-btn {
        margin: 36px auto 0;
    }
}

@media screen and (max-width: 639px) {
    .profile__add-btn {
        width: 282px;
        background-size: 16px 16px;
    }
}