.popup__edit-title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 54px auto 0;
    padding: 0;
    justify-self: start;
    width: 358px;
}

@media screen and (max-width: 639px) {
    .popup__edit-title {
        font-size: 14px;
        line-height: 17px;
        margin-top: 75px;
        width: 238px;
    }
}