.element__foto {
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    object-fit: cover;
    width: 282px;
    height: 282px;
}