.profile__edit-btn {
    margin: 15px 0 auto 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: none;
    background-image: url("../../../image/profile-edit-btn.svg");
    background-position: center;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}

.profile__edit-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 639px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
        margin: 8px 19px auto 0;
        background-size: 7.5px 7.5px;
    }
}