@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

/*page*/
@import url(../blocks/page/page.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);

/*блок profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__title-edit-btn/profile__title-edit-btn.css);
@import url(../blocks/profile/__title/profile__title.css);

/*блок elements*/
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__foto/element__foto.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__title-like/element__title-like.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__delete/element__delete.css);
@import url(../blocks/element/__like/_active/element__like_active.css);

/*footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/*popap*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__overlay/popup__overlay.css);
@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__edit/popup__edit.css);
@import url(../blocks/popup/__save-btn/popup__save-btn.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__img/popup__img.css);
@import url(../blocks/popup/__content-img/popup__content-img.css);
@import url(../blocks/popup/__title-img/popup__title-img.css);
@import url(../blocks/popup/__overlay/_img/popup__overlay_img.css);
@import url(../blocks/popup/_closed/popup_closed.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(../blocks/popup/__save-btn/_disabled/popup__save-btn_disabled.css);
@import url(../blocks/popup/__edit/_error/popup__edit_error.css);
@import url(../blocks/form/__section/form__section.css);

/*block*/
@import url(../blocks/block/block.css);

/*cursor*/
@import url(../blocks/cursor/cursor.css);

/*conteiner*/
@import url(../blocks/conteiner/conteiner.css);