.footer {
    width: 880px;
    margin: 67px auto 60px;
    padding: 0;
    align-items: flex-start;
}

@media screen and (max-width: 959px) {
    .footer {
        width: 580px;
        margin: 48px auto 36px;
    }
}

@media screen and (max-width: 639px) {
    .footer {
        width: 282px;
        margin: 48px auto 36px;
    }
}